/* styles.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top left, #de4f4f, #25016e);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the page takes at least the full height of the viewport */
}

header {
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: space-between; /* Align children at opposite ends */
    align-items: center;
}

#Header{
    display: flex;
}

header h1{
    font-size: 25px;
}

h1{
    color: rgb(162, 149, 252);
}

p {
    color: #fff;
}

img {
    max-width: 40px;
    height: auto;
    margin: 0px 10px;
}

.HomePage img{
    max-width: 97%;
}

.AboutUs{
    margin: auto;
    max-width: 75%;
}

.Castle img{
    max-width: 90%;
}

.AboutUs h1{
    font-size: 60px;
}

#Contact{
    display: flex;
    max-width: 100%;
    justify-content: space-around;
}

#Contact p{
    font-size: 15px;
}

.Address, .Phone, .Time, .Email{
    max-width: 22%;
}

.VR img{
    max-width: 97%;
}

.Journeys img{
    max-width: 18%;
}

.information img{
    margin-left: 20%;
    margin-bottom: 10%;
    max-width: 70%;
}

.Locations img{
    max-width: 23%;
}

.Travel img{
    max-width: 95%;
    margin-top: 20px;
}

#ContactandPicture {
    display: flex;
}

#Catalog {
    display: flex;
}

#BookingSystem {
    display: flex;
    justify-content: space-around;
    border:5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#BookingSystem p {
    color: #333;
}

#Nav {
    justify-content: space-around;
    max-width: 100%;
}

nav ul {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    display: flex;
    justify-content: space-around; /* Center the navigation links horizontally */
}

nav li {
    font-size: 20px;
    margin-left: 60px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    flex: 1; /* Allow the main content to grow to fill available space */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

h1 {
    font-size: 40px;
}

footer a{
    color: rgb(61, 61, 237);
}